

.Introduction{
    position:absolute;
    text-align: center;
    left:15vw;
    right:15vw;
    top:25vh;
    background-color: rgba(255, 32, 32, 0.253);

}


.Introduction h1{
    font-size: 8.4vh;;
}
        
.OpenSourceText{
    position: absolute;
    top:125vh;
    width: 100%;
    }
  
.OpenSourceText div{
    padding:4vh;
}
.definedBetter{
    background-color: rgba(255, 255, 255, 0.068);
}